# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/codeStyles/
/misc.xml
/vcs.xml

glf
y.tab.c
y.tab.h
lexx.yy.c